name: CI

on:
  push:
    branches:
      - "feat/**"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: "mysql://root:root123@localhost:3306/obralog_db"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: ./backend/package-lock.json

      - name: Install dependencies
        working-directory: ./backend
        run: npm install

      - name: TypeScript type-check
        working-directory: ./backend
        run: npm run type-check --if-present || npx tsc --noEmit

      - name: ESLint check
        working-directory: ./backend
        run: npm run lint --if-present

      - name: Prettier check
        working-directory: ./backend
        run: npm run prettier:check --if-present || npx prettier . --check

      - name: Validate Prisma schema
        working-directory: ./backend
        run: npx prisma validate

      - name: Generate Prisma client
        working-directory: ./backend
        run: npx prisma generate


  test:
    runs-on: ubuntu-latest
    needs: build

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root123
          MYSQL_DATABASE: obralog_db
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      DATABASE_URL: "mysql://root:root123@localhost:3306/obralog_db"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: ./backend/package-lock.json

      - name: Install dependencies
        working-directory: ./backend
        run: npm install

      - name: Generate Prisma client
        working-directory: ./backend
        run: npx prisma generate

      - name: Run migrations
        working-directory: ./backend
        run: npx prisma migrate deploy

      - name: Run tests
        working-directory: ./backend
        run: npm test -- --coverage

